/* DOCUMENTO CSS */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* ENCABEZADO */
  header {
    background-color:mistyrose;
    color:black;
    padding: 50px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 0px;
  }
 
  /* CONTENIDO PRINCIPAL */
  main {
    margin: 20px;
  }
  
  main h2 {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }
  
  main img {
    object-fit: cover;
    width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(116, 8, 8);
  }
  
  main h3 {
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  /* PIE DE PÁGINA */
  footer {
    background-color:mistyrose;
    color:black;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }

  

  